SpeechRecognition>=3.17.0
edge-tts>=7.2.8
pygame>=2.6.1
requests
pyaudio>=0.2.14
ddgs>=9.14.4
psutil
opencv-python>=4.10.0
pywebostv>=0.8.9
yt-dlp>=2026.6.9
google-cloud-speech
torch
torchaudio
f5-tts
huggingface_hub
